.glider-cvww{
	width: 100$;
	margin: 1rem;
}
.isvg {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
}

.thumbs {
	display: flex;

}
.thumb {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	cursor: pointer;
	display: flex;
	width: 3rem;
	height: 3rem;
}
.thumb:hover {
	transform: scale(1.1);
	z-index: z-index(default);
}
.thumb:active {
	transform: scale(0.95);
}

.isvg {
	width: 100%;
}

.wicon{
	width: 15rem;
	position: relative;
	float: right;
}
.temp {
	font-size: 2rem;